.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  display: flex;
  justify-content: space-around;
}
.table-name,
.product {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}
.table {
  display: flex;
  justify-content: center;
}
.box {
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
  justify-content: space-around;
}
.price {
  justify-content: flex-end;
  display: flex;
}
.name1 {
  margin-left: 15px;
}
.price1 {
  margin-right: 15px;
}
